<% for (var i in theme.social){ %>
  <% if (i.toLowerCase() == 'zhihu') { %>
    <a class="nav-icon if-zhihu" target="_blank" href="<%- url_for(theme.social[i]) %>" title="çŸ¥ä¹"></a>
  <% } else if (i.toLowerCase() == 'email') { %>
    <a class="nav-icon fa-envelope-o" target="_blank" href="<%- url_for(theme.social[i]) %>" title="<%= i %>"></a>
  <% } else { %>
    <a class="nav-icon <%= 'fa-' + i.toLowerCase() %>" target="_blank" href="<%- url_for(theme.social[i]) %>" title="<%= i %>"></a>
  <% } %>
<% } %>
